#tokenList {
  list-style-type: none;
}
#tokenList li {
  clear: both;
}
#tokenList li img {
  float: left;
  padding: 3px;
}
#tokenList li h3 {
  float: left;
  clear: right;
  margin-top: 3px;
}
#initiative form {
  clear:both;
}